.add-series Form {
    margin: 0 auto;
    max-width: 450px;
}

.add-series-view {
    margin: 20px;
    font-family: Trebuchet MS, sans-serif
}

.add-series-view h2 {
    text-align: center;
    margin: 20px auto;
}