.series-list-view {
    margin: 20px;
    font-family: Trebuchet MS, sans-serif
    ;
}

.series-list {
    text-align: center;
    margin: 20px auto;
}

.list-group {
    margin: 20px auto;
    max-width: 600px;
}

.series-list-view h2 {
    text-align: center;
    margin: 20px auto;
}

#loading {
    margin: 20px auto;
    text-align: center;
}

Button {
    margin: 20px auto;
    max-width: 450px;
}
