.series-list-view {
    margin: 20px;
}

.series-list {
    text-align: center;
    margin: 20px auto;
}

.list-group {
    margin: 20px auto;
    max-width: 600px;
}

.series-list-view h2 {
    text-align: center;
    margin: 20px auto;
}

.loading-series {
    text-align: center;
    margin: 20px auto;
}

Button {
    margin: 20px auto;
    max-width: 450px;
}
